<div class="wrapper">
    <div class="landing">
        <h1 class="landing_title">Smart budget</h1>
        <%= link_to 'Sign in', new_user_session_path, class:'access blue'%>
        <%= link_to 'Sign up', new_user_registration_path, class:'access green'%>
    </div>
</div>
