@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;300;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Alexandria', sans-serif;
}

.middle_bar, 
.top_bar,
.cat_panel,
.wrapper  {
    display:flex;
}

.wrapper {
    min-width: 300px;
    flex-direction: column;
    height:100vh;
    outline:1px solid black;
}

.navigation {
    height: 100px;
    background: blue;
    color:white;
    font-weight: 700;
    padding:5px 10px;
}

.top_bar {
    justify-content: space-between;
    margin-bottom:20px;
}

.middle_bar {
    justify-content: space-between;
}

/* category styles */
.cat_panel {
    margin: 10px 10px;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1px 1px rgba(150,150,150, 0.5);
}

.cat_name {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5em;
}

.image_size {
    height:100px;
}

.new_category {
    margin: 10px;
    height:70px;
    text-align: center;
    line-height:70px;
    text-decoration: none;
    border-radius:5px;
    font-size: 2em;
    background-color: blue;
    color:white;
}