@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;300;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Alexandria', sans-serif;
}

.wrapper {
    min-width: 300px;
}

.navigation {
    height: 100px;
    outline: 1px solid black;
    background: blue;
    color:white;
    font-weight: 700;
    padding:5px 10px;

}

.middle_bar, .top_bar {
    display:flex;
}

.top_bar {
    justify-content: space-between;
    margin-bottom:20px;
}

.middle_bar {
    justify-content: space-between;
}