<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= link_to "#{category.name}", category %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= category.author_id %>
  </p>


</div>
