<div class="navigation">
    <div class="top_bar">
        <div><i class="fa-solid fa-ellipsis fa-2x"></i></div>
        <div><i class="fa-solid fa-battery-full  fa-2x"></i></div>
    </div>

    <div class="middle_bar">
        <div><i class="fa-solid fa-bars fa-2x"></i></div>
        <div><%= button_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'logout'%></div>
    </div>
</div>