<div class="wrapper">
  <%= render 'nav', @title %>
  <p style="color: green"><%= notice %></p>

  <h1 class="exp_title">Categories</h1>

  <div id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
  
  
    <%= button_to "New category", new_category_path, method: :get, class:'new_category'%>
  
</div>
