<div class="wrapper">
  <%= render 'nav' %>
  <h1>New category</h1>
  <%= render "form", category: @category %><br>
  <%= link_to "Back to categories", categories_path, class:'back_to_category' %>
</div>
