
<div id="<%= dom_id expense %>">
  <%# <td><%= link_to "#{expense.name}", category_expense_url(@category, expense) </td> %>
    <td><%= expense.name %></td>
    <td><%= expense.amount %></td>
</div>


